.aboutMe-container {
    color: #FAEDF0;
    height: 100%;
    width: 75%;
}

.parrafoAboutMe {
    max-height: 70%;
    overflow-y: scroll;
    text-align: justify;
}

.aboutmeScroll {
    overflow: hidden;
    font-size: 0.9rem;
    margin-top:100px;
}

hr {
    height: 0,1px;
    width: 20%;
    border-color: #F05454;
    background-color: #F05454;
}

