.form-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 80%;
    width: 85%;
}

.button-input {
    background-color: #222831;
    border: none;
    color: #FAEDF0;
    font-size: 1.6rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
}

.button-input:hover {
    transform: scale(1.15);
    transition: 0.3s;
    cursor: pointer;
    color: #F05454;
}

.form-contact{
    width: 90%;
    height: 70%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-between;
}

.input {
    width: 71%;
    height: 20px;
    background-color: unset;
    border: none;
    color: #FAEDF0;
    border-bottom: 1px #ffffffc4 solid;
    
}

.input:focus { outline: none; }

::placeholder{
    color: #faedf03b;
    font-size: 14px;
    font-weight: 100;
}


.textarea{
    height: 100px;
    resize: none;
}

.textarea::placeholder {
    text-align:start;
    transform: translateY(70px);
}

.submit {
    width: 150px;
}

/* Responsive */

@media screen and (max-width: 670px) {
  }