.window-container{
    width: 50%;
    height: 80%;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkslategray;
}

.window-title {
    padding-top: 0;
    display: flex;
    align-items: flex-start;
    text-align: right;
    width: 100%;
}

  