.window-container{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-title {
    color: #FAEDF0;
}

.window-content-container {
    height: 100%;
}

  