.window-container{
    background-color: tomato;
    width: 55%;
    height: 85%;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window-title {
    background-color: aliceblue;
    padding-top: 0;
}

  