.title {
    font-size: 100px;
    color: #FAEDF0;
    font-weight: 400;
}

.p {
    font-size: 35px;
    color: #FAEDF0;
    font-weight: 400;
}


.red {
    color: #F05454;
}

.red:hover {
    color: #F05454;
    cursor: pointer;
    filter: contrast(150%);
}

.llaves {
    font-size: 40px;
}

.profile-img-home {
    display: none;
}


/* Responsive */

@media screen and (max-width: 880px) {
	.profile-img-container {
		display: none;
	}

    .home-container {
        width: 790px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 50px;
    }

    .profile-img-home {
        display: flex;
        width: 30%;
        border-radius: 50%;
    }
  }

@media screen and (max-width: 360px), (max-heigth: 640px) {
    .home-container {
        width: 100%;
    }

    .title {
        font-size: 4rem;
    }

}

@media screen and (max-width: 375px), (max-heigth: 667px) {
    .home-container {
        width: 100%;
        height: 100%;
    }

    .title {
        font-size: 3rem;
    }

    .profile-img-home {
        width: 70%;
    }

    .puesto {
        font-size: 1.8rem;
    }

}