.title {
    font-size: 100px;
    color: #FAEDF0;
    font-weight: 400;
}

.p {
    font-size: 35px;
    color: #FAEDF0;
    font-weight: 400;
}


.red {
    color: #F05454;
}

.red:hover {
    color: #F05454;
    cursor: pointer;
    filter: contrast(150%);
}

.llaves {
    font-size: 40px;
}