a {
    text-decoration: none;
    color: unset;
}

.navBar-container{
	width: 76%;
}

.myButton {
    margin: 5px;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #F05454 5%, #C4462B 100%);
	background-color:#F05454;
	border-radius:2px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
    color: #FAEDF0;
	font-size:13px;
	padding:5px 18px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #C4462B 5%, #F05454 100%);
	background-color:#C4462B;
}
.myButton:active {
	position:relative;
	top:1px;
	transition: 0.3s;
}