.profile-img {
    border-radius: 50%;
    width: 60%;
}

.profile-img-container {
    border: 50%;
    display: flex;
    /* background-color: aliceblue; */
    align-items: center;
    justify-content: center;
}