.profile-img {
    border-radius: 50%;
    width: 50%;
}

.profile-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 100%;
    width: 60%;
}