.parrafoProyects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    }
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }

.img-proyect {
    width: 80%;
    height: 70%;
    border: 2px grey solid;
}

.img-proyect:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.parrafoProyects {
    overflow-y: scroll;
    height: 70%;
}

.parrafoProyects::-webkit-scrollbar {
    width: 8px;
}

.parrafoProyects::-webkit-scrollbar-thumb{
    background: #F05454; 
    border-radius: 25px;
}

.div-card {
    margin: 10px;
    text-align: center;
    width: 85%;
    height: 85%;
    border: 2px solid #F05454;
    filter: opacity(40%);
}

.div-card:hover {
    transform: scale(1.06);
    transition: 0.5s;
    cursor: pointer;
    filter: opacity(170%);
}

.img-card {
    width: 50%;
    margin-top: 10px;
}

.p-card {
    font-size: 14px;
}

.button-card{
    font-size: 12px;
    display: none;
}

