.App {
  background-color: #1E1C1C;
  max-width: 100vw;
  max-height: 100vh;
}

.body-container {
  display: flex;
  height: 500px;
  align-items: center;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  align-items:center;
  align-content: center;
}